{% extends 'base.html' %}

{% block title %}
    Компания Спектр
{% endblock %}

{% block content %}

<h1>О Компании</h1>
<p>Оптовая база «Спектр» - это торговая компания по продажам товаров для дома и дачи. Уже 25 лет мы предлагаем своим клиентам широкий ассортимент продукции по низким ценам.

Мы знаем какие товары для дома и дачи лучше всего продаются сейчас. Именно по этому все товары, представленные в нашем ассортименте, являются лидерами и отлично продаются через интернет-магазины, розничные точки, торговые площадки и доски объявлений.</p>

<h5>Территория работы:</h5>
<p>От Калининграда до Якутска — Ваши заказы мы доставим до Вас с помощью ТК.

От Краснодара до Ярославля - радиус нашей собственной доставки</p>

<h5>Мы поставляем оптом:</h5>
<ol>
	<li>Лакокрасочные материалы. В этой категории представлены:</li>
            <ul>
				<li>Клей (жидкие гвозди, клеи для обоев, холодная сварка);</li>
				<li>Лаки и краски (грунтовки, колеры, краски, лаки, растворители, эмали);</li>
                <li>Монтажная пена и герметики.</li>

			</ul>


    <li>Электроинструменты. В этой категории представлены:</li>
            <ul>
                <li>Водный инструмент;</li>
                <li>Инструмент для дачи и сада;</li>
                <li>Строительный инструмент;</li>
                <li>Ручной инструмент;</li>
                <li>Сварочное оборудование;</li>
                <li>Техника для мойки и уборки;</li>
                <li></li>
             </ul>

    <li>Товары для отдыха и туризма. В этой категории представлены:</li>
            <ul>
                <li>Спорттовары;</li>
                <li>Приготовление и хранение пищи;</li>
                <li>Пляжные принадлежности;</li>
            </ul>
    <li>Все для отдыха на даче.</li>
            <ul>
                <li>Сантехника, вентиляция, газ.</li>
                <li>Бытовая техника;</li>
                <li>Посуда;</li>
                <li>Пластиковые изделия;</li>
                <li>Хозтовары и бытовая химия;</li>
                <li>Текстиль;</li>
                <li>Замочные изделия;</li>
            </ul>
</ol>



<p>
Более подробно ознакомиться с ассортиментом нашей продукции вы сможете изучив наши каталоги.</p>
<p>Совершая заказ на нашей оптовой базе, Вы получаете больше чем просто товар.<br> Вы выходите на новый уровень торговли.</p>

{% endblock %}